# local/nadoTestnet/nadoMainnet
NEXT_PUBLIC_DATA_ENV=nadoTestnet
# Used for Sentry environment tagging: local/staging/production
NEXT_PUBLIC_SENTRY_ENV_NAME=local

# Without this flag, any experimental / WIP features are hidden
NEXT_PUBLIC_ENABLE_EXPERIMENTAL_FEATURES=true
# Enable beta gating
NEXT_PUBLIC_ENABLE_BETA_GATING=false

# API Key for Fuul invite code generation
FUUL_GENERATE_CODE_KEY=x

